body {
	margin: 0;
	height: 100%;
	font-family: 'Courier New', Courier, monospace;
	background: linear-gradient(283deg, #d38ae6, #3ef0ac);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

button {
	cursor: pointer;
}
